body {
    margin: 0;
    font-family: sans-serif;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../assets/imgs/luffy2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-position: center 10vh;
}

@font-face {
    font-family: "font-one-piece";
    src: url(/font/onepiece.ttf) format("truetype");}

.container-navbar {
    background-color: #e88f14; 
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.container-navbar img {
    width: 100%;
    height: 6.5vh;
    margin-left: 3vw;
}

.navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none; 
    padding: 0;
    margin: 0;
}

.navbar li {
    position: relative;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    padding: 10px 15px;
    transition: background-color 0.3s, color 0.3s;
}

.navbar a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: #0f0f0f;
    border-radius: 5px;
}

.submenu {
    display: none;
    position: absolute;
    background-color: #b87210;
    list-style: none; 
    padding: 0;
    margin: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); 
    z-index: 1000;
    border-radius: 15px;
    border: 2px solid black;
}

.navbar li {
    position: relative;
}

.navbar li:hover .submenu {
    display: block; 
}

.submenu li {
    width: 150px;
}

.submenu a {
    color: white; 
    text-decoration: none; 
    padding: 10px 15px;
    display: block;
}

.submenu a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    margin-top: 10vh; /* Para ajustar com a navbar fixa */
}

.container {
    background-color: #fff;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    max-width: 600px;
    width: 100%;
}

.card-cadastro h2 {
    font-size: 28px;
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.campo {
    margin-bottom: 15px;
}

.campo span {
    font-weight: bold;
    display: block;
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
}

.campo input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.campo input:focus {
    border-color: #e88f14;
    outline: none;
    box-shadow: 0 0 5px rgba(232, 143, 20, 0.5);
}

.botao {
    width: 100%;
    padding: 12px;
    background-color: #e88f14;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.botao:hover {
    background-color: #c16d10;
}

.alerta_erro {
    color: red;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
}

.loading-div {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
