body {
    margin: 0;
    background-color: #e88f14;
}

@font-face {
    font-family:"font-one-piece";
    src: url(/font/one\ piece\ font.ttf) format("truetype");
  }

.container-navbar {
    background-color: #e88f14; 
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.container-navbar img {
    width: 100%;
    height: 6.5vh;
    margin-left: 3vw;
}

.navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none; 
    padding: 0;
    margin: 0;
}

.navbar li {
    position: relative;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    padding: 10px 15px;
    transition: background-color 0.3s, color 0.3s;
}

.navbar a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: #0f0f0f;
    border-radius: 5px;
}

.submenu {
    display: none;
    position: absolute;
    background-color: #b87210;
    list-style: none; 
    padding: 0;
    margin: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); 
    z-index: 1000;
    border-radius: 15px;
    border: 2px solid black;

}

.navbar li {
    position: relative;
}

.navbar li:hover .submenu {
    display: block; 
}

.submenu li {
    width: 150px;
}

.submenu a {
    color: white; 
    text-decoration: none; 
    padding: 10px 15px;
    display: block;
}

.submenu a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.banner{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-image: url(../assets/imgs/banner-onepiece.jpeg);
    object-fit: cover;
    margin-top: 10vh;
}

.banner-filtro {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 140vh;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    margin-top: -10vh;
}

.banner-filtro p{
    text-align: center;
    background-color: #b87210;
    border: 3px solid black;
    width: 75%;
    font-size: 200%;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: aliceblue;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); 
    border-radius: 15px;
    margin-bottom: 40vh;
    padding: 15px;
    font-weight: 600;
    margin-top: 10%;
}

.banner-filtro span{
    font-family: "font-one-piece";
    color: #d03939;
    font-weight: 1000;
    font-size: 700%;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin-top: 3%;
    margin-top: 4%;
    text-shadow: 2px 2px black;
}

.container-projeto {
    border-top: 2px solid black;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-top: 5%;
    padding-bottom: 10%;
    background-image: url(../assets/imgs/luffy_background.jpg);
    background-size:cover; 
    background-repeat: no-repeat;
    background-position: top center;
}

.container-projeto-elementos {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.titulo-projeto {
    width: 60%;
    font-family: "font-one-piece";
    font-size: 800%;
    text-align: center;
    border-radius: 15px;
    padding: 1%;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: #e88f14;
    text-shadow: 2px 2px black;
}

.principal-projeto {
    display: flex;
    margin-top: 2%;
    width: 75vw;
    align-items: center;
    background-color: #b87210;
    font-size: 150%;
    color: aliceblue;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    padding: 1%;
    border-radius: 15px;
    border: 2px solid black;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5); 
    font-weight: 600;
}

.sobremim-projeto {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

.sobremim-projeto p{
    display: flex;
    width: 60%;
    align-items: center;
    background-color: #b87210;
    font-size: 160%;
    color: aliceblue;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    padding: 1%;
    border-radius: 15px;
    border: 2px solid black;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5); 
    font-weight: 600;
}

.sobremim-projeto img {
    border-radius: 100%;
    border: 3px solid black;
    width: 300px;
}

.footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20vh;
    border-top: 3px solid black;
    background-color: #e88f14;
    text-align: center;
    justify-content: center;
}

.footer-container {
    align-items: center;
}
.footer span {
    font-size: 150%;
    font-weight: 600;
    color: aliceblue;
}